<% provide(:title, "Contact") %>
<div class="list-body">
	<h2>Get in touch</h2>
	<p class="lead">Hey! My name is Simon and I built Toukan when I was looking for some reading lists about my role model Elon Musk.</p>
	<p class="lead">I'd love to hear your thoughts and feedback on and overall am always down for a chat.</p>
	<p class="lead">Feel free to fire me an <a href="mailto:sbambey@gmail.com">email</a>.</p>
</div>