<% provide(:title, "My lists") %>
<div class="list-body">
	<p class="lead">Browse @<%= @user.username %>'s lists<%= render "shared/google_attribution" %></p>
	<% if @user == current_user %>
		<%= link_to "Create list", new_list_path, class: "btn btn-default btn-green btn-top" %>
	<% end %>
	<% @user.lists.each do |list| %>
		<%= render "shared/list_panel", list: list %>
	<% end %>
</div>