<% if resource.errors.present? %>
  <div class="container">
    <div class="col-xs-12">
      <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> There seem to be some errors in your form.
      </div>
    </div>
  </div>
<% end %>