<div class="panel panel-default">
	<div class="panel-body">
		<div class="added-info">
			<%= render "lists/list_item_image", item: list.list_items.first %>
			<div class="added-text index-listing">
				<p class="name"><%= link_to list.name, single_list_path(list) %></p>
				<p class="description"><em><%= list.description %></em></p>
				<p class="other">by <%= link_to "@#{list.user.username}", user_path(list.user) %></p>
			</div>
		</div>
	</div>
</div>