.lists, .users {
	.list-heading {
		background-color: $list-heading;
		margin-bottom: 20px;
		padding:20px 0;
		h1, h2 {
			margin:0;
		}
		p {
			margin:10px 0 0 0;
		}
		p.lead {
			font-size: 17px;
			margin-top:0;
		}
		p.lower-lead {
			font-size:15px;
			margin-top: 0;
		}
		input {
			margin-top: 10px;
		}
		.input-group {
			margin: 10px auto 0 auto;
			max-width:400px;
			input {
				margin:0;
			}
		}
		.form-group:last-of-type {
			margin-bottom: 0;
		}
		.btn-search {
			padding:0;
			border:none;
		}
	}

	.list-body {
		background:#fff;
		p {
			margin: 10px 0;
		}
		.social {
			vertical-align: middle;
			display:block;
			font-size: 1px;
			margin-bottom: 20px;
			.btn {
				margin-right: 20px;
			}
		}
		.social span {
			display: inline-block;
			width: 100px;
			&.share-url-text {
				display: inline-block;
				vertical-align: middle;
				width: auto;
				font-size: 15px;
				margin-right:3px;
			}
		}
		.social iframe,.social>span {
			vertical-align: middle;
		}>
		.book-input {
			&:nth-of-type(n+2) {
				margin-top: 10px;
			}
		}
		.share-url-box {
			display: inline-block;
			vertical-align: middle;
			max-width:210px;
			&[disabled] {
				cursor: auto;
				background-color: #fff;
			}
		}
		.hidden-author[type=text] {
			margin-bottom: 10px;
		}

		.panel-default {
			border-color: $central-border;
		}
		.panel-body {
			background-color: #fafafa;
			padding-bottom:5px;
			div:last-of-type {
				margin-bottom:10px;
			}
		}
		.search-index-image {
			max-height:70px;
		}
		.index-listing {
			p {
				margin: 0;
			}
			.name {
				font-size:17px;
				font-weight: 800;
			}
			.description {
				font-size: 15px;
			}
		}
		.form-group {
			margin-bottom:0;
		}
		.feedback-loading {
			margin-right: 80px;
		}
		.btn-add {
			background:none;
			border:2px solid #eea236;
			&:hover, &:focus {
				background:none;
			}
		}
		.external-book-links {
			margin-top: 5px;
			.get-a-copy {
				&:hover, &:focus {
					text-decoration: none;
				}
			}
			.external-book-buttons {
				display:none;
				.btn-book {
					border-width: 1px;
					margin-left: 5px;
				}
			}
			
		}
	}
	.new-edit {
		div:last-of-type {
			margin-bottom: 0;
		}
		.list-item-group {
			margin-bottom: 10px;
		}
		.added-info {
			img {
				margin-bottom: 10px;
			}
		}
	}

	.added-info {
		display:table;
		
		img {
			display: table-cell;
			max-height: 170px;
			max-width: 70px;
		}
		.added-text {
			vertical-align: top;
			display: table-cell;
			padding:0 0 0 10px;
			.wrong-book {
				display: block;
				margin-top:5px;
			}
		}
	}

	p.title {
		font-weight: 800;
		font-size: 16px;
		line-height: 17px;
		margin:0;
	}
	p.author {
		font-weight: 500;
		color:#666;
		font-size: 15px;
		line-height: 16px;
		margin:0;
	}
	p.other {
		margin:5px 0 0 0;
	}
}