<%= image_tag @book["image_link"] %>
<div class="added-text">
	<p class="title"><%= @book["title"] %></p>
	<p class="author"><%= @book["author"].present? ? "by #{@book['author']}" : "Author unavailable" %></p>
	<% if @book["categories"].present? %>
		<p class="categories"><u>Categories</u>: <%= @book["categories"] %></p>
	<% end %>
	Not what you're looking for? Search again above or <a href="#" class="wrong_book">add the book manually</a>.
</div>