$body-bg: #fefdf9;
$central-bg: #fff;
$central-border: #7090a0;
$list-heading: #d5dfed;
$logo: #B06472;
$border-width: 2px;

$grid-float-breakpoint: 1200px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "global.scss";
@import "partials/*";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(//fonts.googleapis.com/css?family=Gloria+Hallelujah);