<div class="container">
	<div class="col-xs-12 col-md-8 col-md-offset-2 central-wrapper footer">
		<span>&copy; Toukan <%= link_to "Contact", contact_path %></span>
		<span class="social-icons"><%= render "layouts/social_icons" %></span>
	</div>
</div>