<a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/pages/Toukan/1567657566828619" target="_blank">
  <i class="fa fa-facebook"></i>
</a>

<a class="btn btn-social-icon btn-twitter" href="https://twitter.com/toukanco" target="_blank">
  <i class="fa fa-twitter"></i>
</a>